.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.nav {
    display: flex;
    flex: 0.9;
}

.nav-link {
    margin-right: 25px;
    color: black;
}